//-
//- Header
//- --------------------------------------------------
header.header(role='banner')
  .header__container

    //- Brand
    //- --------------------------------------------------
    a.brand(href='/' role='logo')
      include ../_src/svg/etc/logo-felipe-fialho.svg


    //- Navbar
    //- --------------------------------------------------
    nav.navbar
      label.navbar--btn(for='navbar') #[svg.icon(aria-label='Menu') #[use(xlink:href='/assets/svg/icons.svg#menu')]]

      input.nav--open#navbar(type='checkbox')
      ul.nav(role='navigation')
        li.nav__item #[a.nav--link(class="#{ current.path[0] == 'blog' ? 'active' : '' }" href='/blog') Blog]
        li.nav__item #[a.nav--link(class="#{ current.path[0] == 'projects' ? 'active' : '' }" href='/projects') Projects]
        li.nav__item #[a.nav--link(class="#{ current.path[0] == 'labs' ? 'active' : '' }" href='/labs') Labs]


    //- Social Media
    //- --------------------------------------------------
    ul.social-media
      li.social-media__item
        a.social-media__link(href="http://twitter.com/#{ twitter }" title='View my Twitter' target='_blank') #[svg.icon(aria-label='Twitter') #[use(xlink:href='/assets/svg/icons.svg#twitter')]]
      li.social-media__item
        a.social-media__link(href="https://www.linkedin.com/in/#{ linkedin }" title='View my Linkedin' target='_blank') #[svg.icon(aria-label='Linkedin') #[use(xlink:href='/assets/svg/icons.svg#linkedin')]]
      li.social-media__item
        a.social-media__link(href="https://github.com/#{ github }" title='View my Github' target='_blank') #[svg.icon(aria-label='Github') #[use(xlink:href='/assets/svg/icons.svg#github')]]
      li.social-media__item
        a.social-media__link(href="https://codepen.io/#{ codepen }" title='View my Codepen' target='_blank') #[svg.icon(aria-label='Codepen') #[use(xlink:href='/assets/svg/icons.svg#codepen')]]
      li.social-media__item
        a.social-media__link(href="https://medium.com/@#{ medium }" title='View my Medium' target='_blank') #[svg.icon(aria-label='Medium') #[use(xlink:href='/assets/svg/icons.svg#medium')]]
      li.social-media__item.hidden
        a.social-media__link(href="https://plus.google.com/#{ gplus }" title='View my Google Plus' target='_blank') #[svg.icon(aria-label='Google Plus') #[use(xlink:href='/assets/svg/icons.svg#google')]]




