//-
//- Header
//- --------------------------------------------------
header.header(role='banner')
  .header-container

    //- Brand
    //- --------------------------------------------------
    a.brand(href='/' role='logo')
      include ../_src/svg/etc/logo-felipe-fialho.svg


    //- Navbar
    //- --------------------------------------------------
    nav.navbar
      label.navbar-btn(for='navbar') #[svg.icon(aria-hidden='true' aria-label='Menu') #[use(xlink:href='/assets/svg/icons.svg#menu')]]

      input.nav-open#navbar(type='checkbox')
      ul.nav(role='navigation')
        li.nav-item #[a.nav-link(class="#{ current.path[0] == 'blog' ? 'active' : '' }" href='/blog') Blog]
        li.nav-item #[a.nav-link(class="#{ current.path[0] == 'projects' ? 'active' : '' }" href='/projects') Projects]
        li.nav-item #[a.nav-link(class="#{ current.path[0] == 'labs' ? 'active' : '' }" href='/labs') Labs]


    //- Social Media
    //- --------------------------------------------------
    ul.social-media
      li #[a(href="http://twitter.com/#{ twitter }" title='View my Twitter' target='_blank') #[svg.icon(aria-hidden='true' aria-label='Twitter') #[use(xlink:href='/assets/svg/icons.svg#twitter')]]]
      li #[a(href="https://www.facebook.com/#{ facebook }" title='View my Facebook' target='_blank') #[svg.icon(aria-hidden='true' aria-label='Facebook') #[use(xlink:href='/assets/svg/icons.svg#facebook')]]]
      li #[a(href="https://www.linkedin.com/in/#{ linkedin }" title='View my Linkedin' target='_blank') #[svg.icon(aria-hidden='true' aria-label='Linkedin') #[use(xlink:href='/assets/svg/icons.svg#linkedin')]]]
      li #[a(href="https://github.com/#{ github }" title='View my Github' target='_blank') #[svg.icon(aria-hidden='true' aria-label='Github') #[use(xlink:href='/assets/svg/icons.svg#github')]]]
      li #[a(href="https://codepen.io/#{ github }" title='View my Codepen' target='_blank') #[svg.icon(aria-hidden='true' aria-label='Codepen') #[use(xlink:href='/assets/svg/icons.svg#codepen')]]]
      li.hidden #[a(href="https://plus.google.com/#{ gplus }" title='View my Google Plus' target='_blank') #[svg.icon(aria-hidden='true' aria-label='Google Plus') #[use(xlink:href='/assets/svg/icons.svg#google')]]]




