//-
//- Blog
//- ==================================================

section.blog

  header.page-header.sr-only
    h2.title Blog (Portuguese)

  for post in public.blog._data
    a.blog-link(href='/blog/#{ post.path }' title='Ver o post #{ post.title }')
      article.blog-post
        time.date #{ post.date }
        h1.title #{ post.title }
        p #{ post.description }

