doctype
html(lang="pt-br")

  != partial("../_partials/head")

  body(class='page-#{ current.path[0] }')

    != partial("../_partials/header")


    //-
    //- Main
    //- --------------------------------------------------
    main.main(role='main')

      - var postCount = 0
      if (current.source !== 'index' && public.blog._data)

        for post, slug in public.blog._data

          if slug == current.source
            article.blog-article(itemscope itemtype='http://schema.org/Blog')

              .blog-header

                if (post.cover)
                  picture.picture
                    img(src='/assets/img/blog/cover/#{ post.cover }' alt='#{ post.cover_alt }')

                .content
                  time.date(itemprop='dateCreated') #{ post.date }
                  h1(itemprop='name') #{ post.title }
                  p(itemprop='description') #{ post.description }
                  span.sr-only(itemprop='author') Luiz Felipe Tartarotti Fialho

              .blog-inner
                .content(itemprop='text')
                  != yield

                aside.comments
                  != partial("../_partials/comments")

          - postCount++;

      else
        != yield

