//-
//- Projects
//- ==================================================

section.thumbnail

  header.wellness
    h2.wellness--title Projects

  .thumbnail__list
    for project, slug in public.projects._data
      article.thumbnail__item
        time.date #{ project.date }
        h1.thumbnail--title #{ project.title }
        picture.thumbnail--picture
          img(src='/assets/img/projects/#{ project.image }' alt="Thumbnail of #{ project.title }'s website")
        p.thumbnail--text #{ project.description }
        a.btn(href='#{ project.path }' title='View project' target='_blank') View the project

